<div class="flex-container">
  <div class="logo">
    <img src="../../assets/imagens/db-communities-pride-horizontal.svg" alt="DB Communities Pride" />
  </div>
  <div class="titulo">
    <h3>
      Realtime Desnormalização
    </h3>
  </div>
  <div class="logout">
    <a href="https://github.com/evlymn/desnormalizacao" target="_blank" class="social-button ">
      <img src="../../assets/imagens/github1.svg" alt="Sources" />
    </a>
    <button (click)="logout()" class="social-button hand" name="logout">
      <img src="../../assets/imagens/logout-w.svg" alt="logOut" /> </button>
  </div>
</div>
<app-cartao></app-cartao>
