.flex-container {
  display: flex;
  align-items: center;
  background-color: #2b3084;
  justify-content: flex-start;
  flex-wrap: wrap;
  -webkit-box-shadow: -1px 0px 7px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 7px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

.logo {
  padding-top: 3px;
  text-align: center;
  flex-grow: 1;
  width: 300px;
}

.logo > img {
  height: 40px;
  padding-top: 5px;
}
.titulo {
  align-items: center;
  text-align: center;
  font-size: 13px;
  flex-grow: 8;
  color: whitesmoke;
}

.logout {
  flex-grow: 1;
  text-align: center;
  align-items: center;
}

.social-button {
  background-color: transparent;
  border-width: 0px;
}

.social-button > img {
  height: 17px;
}

@media only screen and (min-width: 600px) {
  .logo {
    text-align: center;
    flex-grow: 1;
  }

  .logo > img {
    height: 40px;
  }
  .titulo {
    align-items: center;
    text-align: center;
    font-size: 18px;
    flex-grow: 8;
    color: whitesmoke;
  }

  .logout {
    flex-grow: 1;
    text-align: center;
    align-items: center;
  }

  .social-button {
    background-color: transparent;
    border-width: 0px;
  }

  .social-button > img {
    height: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 250px;
    text-align: center;
    flex-grow: 1;
    padding: 5px;
  }

  .logo > img {
    height: 50px;
  }
  .titulo {
    align-items: center;
    text-align: center;
    font-size: 18px;
    flex-grow: 8;
    color: whitesmoke;
  }

  .logout {
    padding: 5px;
    flex-grow: 1;
    width: 250px;
    text-align: center;
    align-items: center;
  }

  .social-button {
    background-color: transparent;
    border-width: 0px;
  }

  .social-button > img {
    height: 20px;
  }
}
