<div class="flex-container">
  <div>

    <img src="../../assets/imagens/db-communities-pride.svg" alt="">
  </div>
  <div class="flex-container-interno">
    <div class="social-button">
      <button class="hand" (click)="login(provedor.github)">
        <img src="../../assets/imagens/github.svg" /> </button>
    </div>
    <div class="social-button">
      <button class="hand" (click)="login(provedor.google)">
        <img src="../../assets/imagens/google.svg" /> </button>
    </div>
  </div>
</div>
