.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.flex-container > div {
  color: white;
  width: 400px;
  margin: 10px;
  text-align: center;
}

.flex-container > div > img {
  width: 300px;
}
.flex-container-interno {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  color: gray;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.social-button > button {
  background-color: transparent;
  border-width: 0px;
}

.social-button > button > img {
  height: 90px;
}

body{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 29%, rgba(223,220,223,1) 81%, rgba(214,210,214,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(29%, rgba(246,246,246,1)), color-stop(81%, rgba(223,220,223,1)), color-stop(100%, rgba(214,210,214,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 29%, rgba(223,220,223,1) 81%, rgba(214,210,214,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 29%, rgba(223,220,223,1) 81%, rgba(214,210,214,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 29%, rgba(223,220,223,1) 81%, rgba(214,210,214,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 29%, rgba(223,220,223,1) 81%, rgba(214,210,214,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d2d6', GradientType=0 );
}
