<div class="flex-container">
  <div>

    <img src="../../assets/imagens/db-communities-pride.svg" alt="DB Communities Pride">
  </div>
  <div class="flex-container-interno">
    <div class="social-button">
      <button class="hand" (click)="login(provedor.github)" name="Github">
        <img src="../../assets/imagens/github.svg" alt="Github" /> </button>
    </div>
    <div class="social-button">
      <button class="hand" (click)="login(provedor.google)" name="Google">
        <img src="../../assets/imagens/google.svg" alt="Google" /> </button>
    </div>
  </div>
</div>
