.container {
  display: flex; /* or inline-flex */
  justify-content: center;
  flex-wrap: wrap;
}

.cadastro {
   width: 100%;
  margin: 15px;
}

.listagem {
   width: 100%;
  margin: 15px;
}
@media only screen and (min-width: 768px) {
  .cadastro {
    min-width: 500px;
    width: 500px;
    margin: 25px;
  }

  .listagem {
    min-width: 500px;
    width: 500px;
    margin: 25px;
  }
}
