.container {
  display: flex; /* or inline-flex */
  justify-content: center;
  flex-wrap: wrap;

}

.cadastro{
  min-width: 500px;
  width: 500px;
  margin: 25px;

}

.listagem{
  min-width: 500px;
  width: 500px;
  margin: 25px;
}
